
.{


 box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    
}

.body{
background: black;
}


.container{
    display: flex;
justify-content: center;

}

.card{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    
    
   } 
.btnBlue{
   
    padding: 5px 5px;
    background-color: aqua;
    color: blue;
    border-radius: 20px;
    margin: 0;
    

    

}

.card-image{
    background-color: aqua;
    
    
    height: 150px;
    margin-bottom: 15PX ;
    background-size: cover;
    border-radius: 15px 15px 0 0;
 display: flex;
 justify-content: center;
 align-items: center;
    
}