body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
align-items: center;
justify-content: center;



}
.card{
    width: 900px;
    height: 500px;
    background-color: rgb(215, 64, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 

}


    
    




.novbarContainer{
    width:500px ;
    height:400px ;
    background-color: aliceblue;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.rowcard{
    width: 150px;
    height: 150px;
    background-color: rgb(245, 69, 10);
    margin: -10px;
        
}

    

