body{

}


.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 700px;
    height: 500px;
    background-color: white;
    text-align: center;
  
  }

  .normal{
    width: 60px;
    height: 20px;
    background-color: rgb(225, 13, 13);
    text-align: end;
    border-radius: 20px;
  }

  .card2{
    width: 200px;
    height: 300px;
    background-color:whitesmoke;
    margin: 10px;
    font-size: 10px;
    text-align: left;
   
  }
  .card3{
     
 
    width: 200px;
    height: 300px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items:center ;
    margin: 0 400px ;
    }
 