body{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(217, 28, 28);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card{
    width: 330px;
    height: 200px;
    background-color: rgb(0, 255, 94);
    border: 1px solid black;
}